.user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff18;
    color: #e7e7e7;
    height: 65px;
    padding-left: 40px;
    &-image{
        width: 30px;
        height: 30px;
    }
    &-data{
        margin-left: 20px;
        font-weight: 600;
        font-size: 17px;
    }

    &-name{
        font-size: 23px;
    }
    .green{
        color: #00bc00;
    }
    .red{
        color: #c40000;
    }
    &:hover{
        background-color: #0000000B;
        cursor: pointer;
        transition: .2s all;
    }
}